<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            <strong>{{ user.username }}</strong> - <i class="comment-date">{{ format_date created_at }}</i>
        </div>
        <div class="text">
            {{ comment_text }}
        </div>
    </section>
    {{/each}}
</div>
