<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <canvas id="bg"></canvas>
    <div class="wrapper">
        <header>
            <div class="sub-wrapper">
                <h1>
                    <a href="/"><i class="fas fa-rss"></i> Tech Blog</a>
                </h1>
                <nav>
                    {{#if loggedIn}}
                    <a href="/dashboard">Dashboard</a>
                    <a href="#" id="logout">Logout</a>
                    {{else}}
                    <a href="/checkuser">Sign up / Login</a>
                    {{/if}}
                </nav>
            </div>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            <div class="sub-wrapper">
                <span id="footer-text"></span>
            </div>
        </footer>
    </div>
    {{#if loggedIn}}

    <script src="/js/logout.js"></script>
    {{/if}}
    {{!--
    <script type="module" src='/js/three.min.js'></script> --}}
    <script type="module" src="/js/bg.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>
