<form class="check-user-form">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" />
    </div>
    <div>
        <button type="submit">Next</button>
    </div>
</form>


<script src="/js/checkuser.js"></script>