<span id="welcome-tag">Welcome to <span id="welcome">Tech Blog</span>, please enter a username to continue!</span>
<form class="check-user-form">
    <div id="check-username-div">
        <input type="text" id="username" autocomplete="off" />
    </div>
    <div>
        <button type="submit">Next</button>
    </div>
</form>


<script src="/js/checkuser.js"></script>
