{{> post-info post}}
{{> comments post.comments}}

{{#if loggedIn}}
<form class="comment-form">
    <h2 class="divide-header">Add Comment</h2>
    <div id="comment-div">
        <textarea name="comment-body" id="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}



<script src="/js/comment.js"></script>
